## 시각화
- 보고서를 위한 그래프 그리기

### D3.sj , 그 외 JS 그래프
- rChart : JS 라이브러리를 R에서 사용하게 해줌
- D3.js : interactive graph

In [1]:
install.packages('devtools')

Installing package into 'C:/Users/205/Documents/R/win-library/4.0'
(as 'lib' is unspecified)

package 'devtools' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\205\AppData\Local\Temp\RtmpITcJQB\downloaded_packages

In [2]:
library('devtools')

Warning message:
"package 'devtools' was built under R version 4.0.2"
Loading required package: usethis

Warning message:
"package 'usethis' was built under R version 4.0.2"

In [3]:
install_github('saurfang/rCharts', ref='utf8-writelines')

Skipping install of 'rCharts' from a github remote, the SHA1 (e0106ed8) has not changed since last install.
  Use `force = TRUE` to force installation

In [4]:
library('rCharts')

In [5]:
## nPlot() : Ds.js의 NVD3 라이브러리 기반
hair_eye_male <- subset(as.data.frame(HairEyeColor), Sex=='Male')
n1 <- nPlot(Freq~Hair, group='Eye', data=hair_eye_male, type='multiBarChart')

In [6]:
n1

In [7]:
##데이터 적재
df <- read.csv('r-ggagi-data/example_studentlist2.csv')

In [8]:
attach(df)

In [9]:
n1 <- nPlot(data=df, height~weight, group='sex', type='scatterChart')
n1

In [10]:
## 파이차트 그리기
n2 <- nPlot(data=df, ~bloodtype, type='pieChart')
n2

In [11]:
n2$chart(donut=T)
n2

In [12]:
## 멀티 막대그래프
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [13]:
# group <- group_by(df,c(bloodtype,sex))
# df2 <- summarise(group, SumPopulation=sum(Population), Male=sum(Male))
## ctrl+shift+m
## 빈도수 : n=n()
df2 <- df %>% 
    group_by(bloodtype, sex) %>% 
        summarize(n=n())
df2

`summarise()` regrouping output by 'bloodtype' (override with `.groups` argument)

  bloodtype sex  n
1 A         남자 13
2 A         여자 17
3 AB        남자  3
4 AB        여자  8
5 B         남자 14
6 B         여자 11
7 O         남자 18
8 O         여자 16

In [14]:
n4 <- nPlot(data=df2, n~bloodtype, group='sex', type='multiBarChart')
n4

In [15]:
## 라인차트
ts <- read.csv('r-ggagi-data/example_ts2.csv')

In [16]:
ts$time <- as.Date(ts$time)  ## 날짜형으로 변환
ts2 <-ts  %>% filter(year==2014)
head(ts2)

  time       sales year
1 2014-01-01 4510  2014
2 2014-01-08 5063  2014
3 2014-01-15 3694  2014
4 2014-01-22 3768  2014
5 2014-01-29 3850  2014
6 2014-02-05 4300  2014

In [17]:
n5 <- nPlot(data=ts2, sales~time, type='lineChart')
n5

In [18]:
n5$xAxis(tickFormat="#!
    function(d){
        return d3.time.format('%Y-%m-%d')
            (new Date(d*1000*3600*24));
} !#", rotateLabels = -45)
n5

In [19]:
ts3 <- read.csv('r-ggagi-data/example_ts3.csv')
head(ts3$time)

[1] "2014-01-01" "2014-01-08" "2014-01-15" "2014-01-22" "2014-01-29"
[6] "2014-02-05"

In [20]:
ts3$time <- as.Date(ts3$time)
head(ts3$time)
n6 <- nPlot(data=ts3, sales~time, group='product', type='stackedAreaChart')
n6

[1] "2014-01-01" "2014-01-08" "2014-01-15" "2014-01-22" "2014-01-29"
[6] "2014-02-05"

In [21]:
n6$xAxis(tickFormat="#!
    function(d){
        return d3.time.format('%Y-%m-%d')
            (new Date(d*1000*3600*24));
} !#", rotateLabels = -45)
n6

In [22]:
n7 <- nPlot(data=ts3, sales~time, group='product', type='lineWithFocusChart')
n7

In [23]:
n7$xAxis(tickFormat="#!
    function(d){
        return d3.time.format('%Y-%m-%d')
            (new Date(d*1000*3600*24));
} !#", rotateLabels = -15)
n7

In [24]:
head(ts3)

  time       sales product
1 2014-01-01 4716  product1
2 2014-01-08 4875  product1
3 2014-01-15 4570  product1
4 2014-01-22 3798  product1
5 2014-01-29 3987  product1
6 2014-02-05 3571  product1

In [25]:
df <- read.csv('r-ggagi-data/example_2015_expenditure.csv')
str(df)

'data.frame':	62 obs. of  6 variables:
 $ 소관명     : chr  "A부서" "A부서" "A부서" "A부서" ...
 $ 회계명     : chr  "과학관관련" "과학관관련" "과학관관련" "과학관" ...
 $ 분야명     : chr  "기술" "기술" "기술" "기술" ...
 $ 부문명     : chr  "기술일반" "기술일반" "기술일반" "기술일반" ...
 $ 프로그램명 : chr  "계정간거래" "과학관관련운영" "회계기금간거래" "계정간거래" ...
 $ sum.확정안.: num  1301000 25336500 486000 1501000 31113145 ...

In [26]:
df2 <- df

In [27]:
head(df2)

  소관명 회계명     분야명 부문명   프로그램명     sum.확정안.
1 A부서  과학관관련 기술   기술일반 계정간거래      1301000
2 A부서  과학관관련 기술   기술일반 과학관관련운영 25336500
3 A부서  과학관관련 기술   기술일반 회계기금간거래   486000
4 A부서  과학관     기술   기술일반 계정간거래      1501000
5 A부서  과학관     기술   기술일반 과학관운영     31113145
6 A부서  과학관     기술   기술일반 회계기금간거래   419000

In [28]:
colnames(df2)[6] <- 'value'
df2['value'] <- round(df2['value']/1000)
head(df2)

  소관명 회계명     분야명 부문명   프로그램명     value
1 A부서  과학관관련 기술   기술일반 계정간거래      1301
2 A부서  과학관관련 기술   기술일반 과학관관련운영 25336
3 A부서  과학관관련 기술   기술일반 회계기금간거래   486
4 A부서  과학관     기술   기술일반 계정간거래      1501
5 A부서  과학관     기술   기술일반 과학관운영     31113
6 A부서  과학관     기술   기술일반 회계기금간거래   419

In [29]:
df3 <- df2

In [30]:
sum1 <- df3 %>% group_by(소관명,회계명) %>% summarise(sum(value))
sum2 <- df3 %>% group_by(회계명, 분야명) %>% summarise(sum(value))
sum3 <- df3 %>% group_by(분야명, 부문명) %>% summarise(sum(value))
sum4 <- df3 %>% group_by(부문명, 프로그램명) %>% summarise(sum(value))

`summarise()` regrouping output by '소관명' (override with `.groups` argument)

`summarise()` regrouping output by '회계명' (override with `.groups` argument)

`summarise()` regrouping output by '분야명' (override with `.groups` argument)

`summarise()` regrouping output by '부문명' (override with `.groups` argument)

In [31]:
sum1
sum2
sum3
sum4

  소관명 회계명                   sum(value)
1 A부서  과학관                     33033
2 A부서  과학관관련                 27123
3 A부서  발전균형특별회계         3499882
4 A부서  보험특별회계              609665
5 A부서  사업특별회계             1110638
6 A부서  에너지및자원사업특별회계  579411
7 A부서  예금특별회계             1115288
8 A부서  일반회계                 6763710

   회계명                   분야명                 sum(value)
1  과학관                   기술                     33033
2  과학관관련               기술                     27123
3  발전균형특별회계         교육                    240160
4  발전균형특별회계         기술                    238347
5  발전균형특별회계         산업·중소기업및에너지 3017375
6  발전균형특별회계         통신                      4000
7  보험특별회계             통신                    609665
8  사업특별회계             통신                   1110638
9  에너지및자원사업특별회계 기술                    579411
10 예금특별회계             통신                   1115288
11 일반회계                 교육                    217799
12 일반회계                 기술                   6063845
13 일반회계                 문화및관광               73747
14 일반회계                 산업·중소기업및에너지  172057
15 일반회계                 일반·지방행정           97114
16 일반회계                 통신                    139148

   분야명                 부문명           sum(value)
1  교육                   고등교육          410585
2  교육                   교육일반            2800
3  교육                   평생·직업교육     44574
4  기술                   기술개발         3211448
5  기술                   기술연구지원     3534898
6  기술                   기술일반          195413
7  문화및관광             문화및관광일반     45497
8  문화및관광             문화예술           28250
9  산업·중소기업및에너지 산업진흥·고도화 3189432
10 일반·지방행정         국정운영            2118
11 일반·지방행정         정부자원관리       94996
12 통신                   방송통신          143148
13 통신                   정운사업         2835591

   부문명           프로그램명             sum(value)
1  고등교육         기술인력양성            410585
2  교육일반         A부서운영지원             2800
3  국정운영         A부서운영지원             2118
4  기술개발         기초연구진흥           2103589
5  기술개발         미래유망원천기술개발    586878
6  기술개발         우주개발진흥            371891
7  기술개발         원자력진흥              149090
8  기술연구지원     과학문화창달             64200
9  기술연구지원     기술국제협력             87980
10 기술연구지원     기술기반조성            188280
11 기술연구지원     기술연구지원_            12900
12 기술연구지원     기술인력양성              2338
13 기술연구지원     연구공동체활성화          8036
14 기술연구지원     출연연구기관지원       3171164
15 기술일반         A부서운영지원            36858
16 기술일반         계정간거래                2802
17 기술일반         과학관관련운영           25336
18 기술일반         과학관운영               31113
19 기술일반         기술국제협력              1600
20 기술일반         기술종합조정             38657
21 기술일반         회계간거래               52258
22 기술일반         회계기금간거래            6789
23 문화및관광일반   A부서운영지원            45497
24 문화예술         콘텐츠방송산업육성       28250
25 방송통신         A부서운영지원            60061
26 방송통신         방송기반조성             34611
27 방송통신         방송산업진흥             16006
28 방송통신         정보보호강화             25234
29 방송통신         회계간거래                7236
30 산업진흥·고도화 SW산업활성화            172057
31 산업진흥·고도화 지역경제활성화         3017375
32 정부자원관리     국가사회정보화           94996
33 정운사업         계정간거래              127684
34 정운사업         보험내실화              199220
35 정운사업         정운사업경영지원         76922
36 정운사업         정운사업행정지원        384617
37 정운사업         지속가능경영            314414
38 정운사업         함께하는서비스          385279
39 정운사업         회계간거래              108173
40 정운사업         회계간거래(전출금)      978939
41 정운사업         회계기금간거래          234343
42 정운사업         회계기금간거래(전출금)   26000
43 평생·직업교육   연구공동체활성화         26600
44 평생·직업교육   평생직업교육체제구축     17974

In [32]:
colnames(sum1) <- c('source', 'target','value')
colnames(sum2) <- c('source', 'target', 'value')
colnames(sum3) <- c('source', 'target', 'value')
colnames(sum4) <- c('source', 'target', 'value')

In [33]:
sum1 <- as.data.frame(sum1)
sum2 <- as.data.frame(sum2)b
sum3 <- as.data.frame(sum3)
sum4 <- as.data.frame(sum4)
df4 <- rbind(sum1, sum2, sum3, sum4)   ## rbind : 변수명 같아야함. / cbind
df4

   source                   target                   value
1  A부서                    과학관                     33033
2  A부서                    과학관관련                 27123
3  A부서                    발전균형특별회계         3499882
4  A부서                    보험특별회계              609665
5  A부서                    사업특별회계             1110638
6  A부서                    에너지및자원사업특별회계  579411
7  A부서                    예금특별회계             1115288
8  A부서                    일반회계                 6763710
9  과학관                   기술                       33033
10 과학관관련               기술                       27123
11 발전균형특별회계         교육                      240160
12 발전균형특별회계         기술                      238347
13 발전균형특별회계         산업·중소기업및에너지   3017375
14 발전균형특별회계         통신                        4000
15 보험특별회계             통신                      609665
16 사업특별회계             통신                     1110638
17 에너지및자원사업특별회계 기술                      579411
18 예금특별회계             통신                     1115288
19 일반회계                 교육                      217799
20 일반회계                 기술                     6063845
21 일반회계                 문화및관광                 73747
22 일반회계                 산업·중소기업및에너지    172057
23 일반회계                 일반·지방행정             97114
24 일반회계                 통신                      139148
25 교육                     고등교육                  410585
26 교육                     교육일반                    2800
27 교육                     평생·직업교육             44574
28 기술                     기술개발                 3211448
29 기술                     기술연구지원             3534898
30 기술                     기술일반                  195413
<U+22EE>  <U+22EE>                 <U+22EE>                 <U+22EE>
52 기술일반                 A부서운영지원              36858
53 기술일반                 계정간거래                  2802
54 기술일반                 과학관관련운영             25336
55 기술일반                 과학관운영                 31113
56 기술일반                 기술국제협력                1600
57 기술일반                 기술종합조정               38657
58 기술일반                 회계간거래                 52258
59 기술일반                 회계기금간거래              6789
60 문화및관광일반           A부서운영지원              45497
61 문화예술                 콘텐츠방송산업육성         28250
62 방송통신                 A부서운영지원              60061
63 방송통신                 방송기반조성               34611
64 방송통신                 방송산업진흥               16006
65 방송통신                 정보보호강화               25234
66 방송통신                 회계간거래                  7236
67 산업진흥·고도화         SW산업활성화              172057
68 산업진흥·고도화         지역경제활성화           3017375
69 정부자원관리             국가사회정보화             94996
70 정운사업                 계정간거래                127684
71 정운사업                 보험내실화                199220
72 정운사업                 정운사업경영지원           76922
73 정운사업                 정운사업행정지원          384617
74 정운사업                 지속가능경영              314414
75 정운사업                 함께하는서비스            385279
76 정운사업                 회계간거래                108173
77 정운사업                 회계간거래(전출금)        978939
78 정운사업                 회계기금간거래            234343
79 정운사업                 회계기금간거래(전출금)     26000
80 평생·직업교육           연구공동체활성화           26600
81 평생·직업교육           평생직업교육체제구축       17974

In [34]:
head(df4)
tail(df4)

  source target                   value
1 A부서  과학관                     33033
2 A부서  과학관관련                 27123
3 A부서  발전균형특별회계         3499882
4 A부서  보험특별회계              609665
5 A부서  사업특별회계             1110638
6 A부서  에너지및자원사업특별회계  579411

   source         target                 value
76 정운사업       회계간거래             108173
77 정운사업       회계간거래(전출금)     978939
78 정운사업       회계기금간거래         234343
79 정운사업       회계기금간거래(전출금)  26000
80 평생·직업교육 연구공동체활성화        26600
81 평생·직업교육 평생직업교육체제구축    17974

In [38]:
sankeyPlot <- rCharts$new() ## rChart 객체 생성
sankeyPlot$setLib('libraries/sankey')  ## rChart  속성 지정
sankeyPlot$setTemplate(script='libraries/sankey/layouts/chart.html')

In [39]:
sankeyPlot$set(
    data=df4,
    nodeWidth=15,
    nodePadding=13,
    layout=300,
    width=900,
    height=600,
    units='천원',
    title='Sankey Diagram'
)

In [40]:
sankeyPlot

#### 작년에 구입한 아파트는 올랐을까?
- 국토교통부 실거래가 공개 시스템 데이터

In [43]:
library(readxl)

In [44]:
library(stringr)

In [49]:
## data load - sprint() : 포맷이 있는 여러 파일 한번에 읽어들일때.
## sprintf(%4d: 네자리 정수, )
files <- sprintf('r-ggagi-data/rawdata/%4d년_%02d월_전국_실거래가_아파트(매매).xls',
                rep(2006:2014, each=12), 1:12)

In [50]:
files

  [1] "r-ggagi-data/rawdata/2006년_01월_전국_실거래가_아파트(매매).xls"
  [2] "r-ggagi-data/rawdata/2006년_02월_전국_실거래가_아파트(매매).xls"
  [3] "r-ggagi-data/rawdata/2006년_03월_전국_실거래가_아파트(매매).xls"
  [4] "r-ggagi-data/rawdata/2006년_04월_전국_실거래가_아파트(매매).xls"
  [5] "r-ggagi-data/rawdata/2006년_05월_전국_실거래가_아파트(매매).xls"
  [6] "r-ggagi-data/rawdata/2006년_06월_전국_실거래가_아파트(매매).xls"
  [7] "r-ggagi-data/rawdata/2006년_07월_전국_실거래가_아파트(매매).xls"
  [8] "r-ggagi-data/rawdata/2006년_08월_전국_실거래가_아파트(매매).xls"
  [9] "r-ggagi-data/rawdata/2006년_09월_전국_실거래가_아파트(매매).xls"
 [10] "r-ggagi-data/rawdata/2006년_10월_전국_실거래가_아파트(매매).xls"
 [11] "r-ggagi-data/rawdata/2006년_11월_전국_실거래가_아파트(매매).xls"
 [12] "r-ggagi-data/rawdata/2006년_12월_전국_실거래가_아파트(매매).xls"
 [13] "r-ggagi-data/rawdata/2007년_01월_전국_실거래가_아파트(매매).xls"
 [14] "r-ggagi-data/rawdata/2007년_02월_전국_실거래가_아파트(매매).xls"
 [15] "r-ggagi-data/rawdata/2007년_03월_전국_실거래가_아파트(매매).xls"
 [16] "r-ggagi-data/rawdata/2007년_04월_전국_실거래가_아파트(매매).xls"
 [17] "r-ggagi-data/rawdata/2007년_05월_전국_실거래가_아파트(매매).xls"
 [18] "r-ggagi-data/rawdata/2007년_06월_전국_실거래가_아파트(매매).xls"
 [19] "r-ggagi-data/rawdata/2007년_07월_전국_실거래가_아파트(매매).xls"
 [20] "r-ggagi-data/rawdata/2007년_08월_전국_실거래가_아파트(매매).xls"
 [21] "r-ggagi-data/rawdata/2007년_09월_전국_실거래가_아파트(매매).xls"
 [22] "r-ggagi-data/rawdata/2007년_10월_전국_실거래가_아파트(매매).xls"
 [23] "r-ggagi-data/rawdata/2007년_11월_전국_실거래가_아파트(매매).xls"
 [24] "r-ggagi-data/rawdata/2007년_12월_전국_실거래가_아파트(매매).xls"
 [25] "r-ggagi-data/rawdata/2008년_01월_전국_실거래가_아파트(매매).xls"
 [26] "r-ggagi-data/rawdata/2008년_02월_전국_실거래가_아파트(매매).xls"
 [27] "r-ggagi-data/rawdata/2008년_03월_전국_실거래가_아파트(매매).xls"
 [28] "r-ggagi-data/rawdata/2008년_04월_전국_실거래가_아파트(매매).xls"
 [29] "r-ggagi-data/rawdata/2008년_05월_전국_실거래가_아파트(매매).xls"
 [30] "r-ggagi-data/rawdata/2008년_06월_전국_실거래가_아파트(매매).xls"
 [31] "r-ggagi-data/rawdata/2008년_07월_전국_실거래가_아파트(매매).xls"
 [32] "r-ggagi-data/rawdata/2008년_08월_전국_실거래가_아파트(매매).xls"
 [33] "r-ggagi-data/rawdata/2008년_09월_전국_실거래가_아파트(매매).xls"
 [34] "r-ggagi-data/rawdata/2008년_10월_전국_실거래가_아파트(매매).xls"
 [35] "r-ggagi-data/rawdata/2008년_11월_전국_실거래가_아파트(매매).xls"
 [36] "r-ggagi-data/rawdata/2008년_12월_전국_실거래가_아파트(매매).xls"
 [37] "r-ggagi-data/rawdata/2009년_01월_전국_실거래가_아파트(매매).xls"
 [38] "r-ggagi-data/rawdata/2009년_02월_전국_실거래가_아파트(매매).xls"
 [39] "r-ggagi-data/rawdata/2009년_03월_전국_실거래가_아파트(매매).xls"
 [40] "r-ggagi-data/rawdata/2009년_04월_전국_실거래가_아파트(매매).xls"
 [41] "r-ggagi-data/rawdata/2009년_05월_전국_실거래가_아파트(매매).xls"
 [42] "r-ggagi-data/rawdata/2009년_06월_전국_실거래가_아파트(매매).xls"
 [43] "r-ggagi-data/rawdata/2009년_07월_전국_실거래가_아파트(매매).xls"
 [44] "r-ggagi-data/rawdata/2009년_08월_전국_실거래가_아파트(매매).xls"
 [45] "r-ggagi-data/rawdata/2009년_09월_전국_실거래가_아파트(매매).xls"
 [46] "r-ggagi-data/rawdata/2009년_10월_전국_실거래가_아파트(매매).xls"
 [47] "r-ggagi-data/rawdata/2009년_11월_전국_실거래가_아파트(매매).xls"
 [48] "r-ggagi-data/rawdata/2009년_12월_전국_실거래가_아파트(매매).xls"
 [49] "r-ggagi-data/rawdata/2010년_01월_전국_실거래가_아파트(매매).xls"
 [50] "r-ggagi-data/rawdata/2010년_02월_전국_실거래가_아파트(매매).xls"
 [51] "r-ggagi-data/rawdata/2010년_03월_전국_실거래가_아파트(매매).xls"
 [52] "r-ggagi-data/rawdata/2010년_04월_전국_실거래가_아파트(매매).xls"
 [53] "r-ggagi-data/rawdata/2010년_05월_전국_실거래가_아파트(매매).xls"
 [54] "r-ggagi-data/rawdata/2010년_06월_전국_실거래가_아파트(매매).xls"
 [55] "r-ggagi-data/rawdata/2010년_07월_전국_실거래가_아파트(매매).xls"
 [56] "r-ggagi-data/rawdata/2010년_08월_전국_실거래가_아파트(매매).xls"
 [57] "r-ggagi-data/rawdata/2010년_09월_전국_실거래가_아파트(매매).xls"
 [58] "r-ggagi-data/rawdata/2010년_10월_전국_실거래가_아파트(매매).xls"
 [59] "r-ggagi-data/rawdata/2010년_11월_전국_실거래가_아파트(매매).xls"
 [60] "r-ggagi-data/rawdata/2010년_12월_전국_실거래가_아파트(매매).xls"
 [61] "r-ggagi-data/rawdata/2011년_01월_전국_실거래가_아파트(매매).xls"
 [62] "r-ggagi-data/rawdata/2011년_02월_전국_실거래가_아파트(매매).xls"
 [63] "r-ggagi-data/rawdata/2011년_03월_전국_실거래가_아파트(매매).xls"
 [64] "r-ggagi-data/rawdata/2011년_04월_전국_실거래가_아파트(매매).xls"
 [65] "r-ggagi-data/rawdata/2011년_05월_전국_실거래가_아파트(매매).xls"
 [66] "r-ggagi-data/rawdata/2011년_06월_전국_실거래가_아파트(매매).xls"
 [67] "r-ggagi-data/rawdata/2011년_07월_전국_실거래가_아파트(매매).xls"
 [68] "r-ggagi-data/rawdata/2011년_08월_전국_실거래가_아파트(매매).xls"
 [69] "r-ggagi-data/rawdata/2011년_09월_전국_실거래가_아파트(매매).xls"
 [70] "r-ggagi-data/rawdata/2011년_10월_전국_실거래가_아파트(매매).xls"
 [71] "r-ggagi-data/rawdata/2011년_11월_전국_실거래가_아파트(매매).xls"
 [72] "r-ggagi-data/rawdata/2011년_12월_전국_실거래가_아파트(매매).xls"
 [73] "r-ggagi-data/rawdata/2012년_01월_전국_실거래가_아파트(매매).xls"
 [74] "r-ggagi-data/rawdata/2012년_02월_전국_실거래가_아파트(매매).xls"
 [75] "r-ggagi-data/rawdata/2012년_03월_전국_실거래가_아파트(매매).xls"
 [76] "r-ggagi-data/rawdata/2012년_04월_전국_실거래가_아파트(매매).xls"
 [77] "r-ggagi-data/rawdata/2012년_05월_전국_실거래가_아파트(매매).xls"
 [78] "r-ggagi-data/rawdata/2012년_06월_전국_실거래가_아파트(매매).xls"
 [79] "r-ggagi-data/rawdata/2012년_07월_전국_실거래가_아파트(매매).xls"
 [80] "r-ggagi-data/rawdata/2012년_08월_전국_실거래가_아파트(매매).xls"
 [81] "r-ggagi-data/rawdata/2012년_09월_전국_실거래가_아파트(매매).xls"
 [82] "r-ggagi-data/rawdata/2012년_10월_전국_실거래가_아파트(매매).xls"
 [83] "r-ggagi-data/rawdata/2012년_11월_전국_실거래가_아파트(매매).xls"
 [84] "r-ggagi-data/rawdata/2012년_12월_전국_실거래가_아파트(매매).xls"
 [85] "r-ggagi-data/rawdata/2013년_01월_전국_실거래가_아파트(매매).xls"
 [86] "r-ggagi-data/rawdata/2013년_02월_전국_실거래가_아파트(매매).xls"
 [87] "r-ggagi-data/rawdata/2013년_03월_전국_실거래가_아파트(매매).xls"
 [88] "r-ggagi-data/rawdata/2013년_04월_전국_실거래가_아파트(매매).xls"
 [89] "r-ggagi-data/rawdata/2013년_05월_전국_실거래가_아파트(매매).xls"
 [90] "r-ggagi-data/rawdata/2013년_06월_전국_실거래가_아파트(매매).xls"
 [91] "r-ggagi-data/rawdata/2013년_07월_전국_실거래가_아파트(매매).xls"
 [92] "r-ggagi-data/rawdata/2013년_08월_전국_실거래가_아파트(매매).xls"
 [93] "r-ggagi-data/rawdata/2013년_09월_전국_실거래가_아파트(매매).xls"
 [94] "r-ggagi-data/rawdata/2013년_10월_전국_실거래가_아파트(매매).xls"
 [95] "r-ggagi-data/rawdata/2013년_11월_전국_실거래가_아파트(매매).xls"
 [96] "r-ggagi-data/rawdata/2013년_12월_전국_실거래가_아파트(매매).xls"
 [97] "r-ggagi-data/rawdata/2014년_01월_전국_실거래가_아파트(매매).xls"
 [98] "r-ggagi-data/rawdata/2014년_02월_전국_실거래가_아파트(매매).xls"
 [99] "r-ggagi-data/rawdata/2014년_03월_전국_실거래가_아파트(매매).xls"
[100] "r-ggagi-data/rawdata/2014년_04월_전국_실거래가_아파트(매매).xls"
[101] "r-ggagi-data/rawdata/2014년_05월_전국_실거래가_아파트(매매).xls"
[102] "r-ggagi-data/rawdata/2014년_06월_전국_실거래가_아파트(매매).xls"
[103] "r-ggagi-data/rawdata/2014년_07월_전국_실거래가_아파트(매매).xls"
[104] "r-ggagi-data/rawdata/2014년_08월_전국_실거래가_아파트(매매).xls"
[105] "r-ggagi-data/rawdata/2014년_09월_전국_실거래가_아파트(매매).xls"
[106] "r-ggagi-data/rawdata/2014년_10월_전국_실거래가_아파트(매매).xls"
[107] "r-ggagi-data/rawdata/2014년_11월_전국_실거래가_아파트(매매).xls"
[108] "r-ggagi-data/rawdata/2014년_12월_전국_실거래가_아파트(매매).xls"

In [ ]:
# paste0() : 문자열 붙일때
# substr(files[i], 1,2) : files[i]문자열의 1,2인덱스를 선택.
# for(i in 1:length(files)){
#     t <- read_excel(path=paste0("r-ggagi-data/rawdata","/",files[i]), sheet=1, col_names=T)
#     t <- mutate(t, date=paste0(substr(files[i], 1,4),"-", month=substr(files[i], 7,8), "-10"))
#     df <- rbind(df,t)
# }

In [53]:
df <- NULL
for(i in 1:length(files)){
    t <- read_excel(path=files[i], sheet=1, col_names=T)
    t <- mutate(t, date=paste0(substr(files[i],24,25), "-", month=substr(files[i], 28,29), "-10"))
    df <- rbind(df, t)
}

In [101]:
head(df)

  시군구                   본번 부번 단지명 전용면적(m2) 계약일 거래금액(만원)
1 서울특별시 강남구 개포동 12   0    대청   39.53        21~31  22,300
2 서울특별시 강남구 개포동 12   0    대청   39.53        1~10   24,800
3 서울특별시 강남구 개포동 12   0    대청   39.53        11~20  23,720
4 서울특별시 강남구 개포동 12   0    대청   51.12        11~20  33,700
5 서울특별시 강남구 개포동 12   0    대청   60.00        11~20  44,000
6 서울특별시 강남구 개포동 12   0    대청   60.00        11~20  44,000
  층 건축년도 도로명주소  date
1 15 1992     개포로109길 06-01-10
2 5  1992     개포로109길 06-01-10
3 15 1992     개포로109길 06-01-10
4 8  1992     개포로109길 06-01-10
5 14 1992     개포로109길 06-01-10
6 7  1992     개포로109길 06-01-10

In [104]:
df2 <- df

In [105]:
colnames(df2) <- c("시군구", "본번", "부번", "단지명", "전용면적", "계약일", "거래금액", "층", "건축년도", "도로명주소", "date")

In [ ]:

df2$거래금액 <- gsub(",","",df2$거래금액)

In [106]:
## data.frame() : stringsAsFactors=F가 디폴트. -> factor로 변환하려면 T
df3 <- data.frame(date=df2$date, 
                  addr=df2$시군구, 
                  val=df2$거래금액, 
                  stringsAsFactors=T)

In [72]:
## chr -> factor로 바꾼후 integer로 바꿀수있음.
# df3[['date']] <- as.factor(df3[['date']])
# df3[['addr']] <- as.factor(df3[['addr']])
# df3[['val']] <- as.factor(df3[['val']])

In [107]:
str(df3)

'data.frame':	588766 obs. of  3 variables:
 $ date: Factor w/ 108 levels "06-01-10","06-02-10",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ addr: Factor w/ 326 levels "서울특별시 강남구 개포동",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ val : Factor w/ 10757 levels "10,000","10,019",..: 2961 3434 3248 4975 6778 6778 6906 1606 2236 3421 ...

In [109]:
## 구매금액을 숫자로 바꾸기 위해 , 제거
df3['val'] <- gsub(",","",df3[['val']])
#같음 : df3['val'] <- str_replace_all(df3[['val']], ',','')

In [110]:
## integer로 변환.
df3[['val']] <- as.integer(df3[['val']])
str(df3)

'data.frame':	588766 obs. of  3 variables:
 $ date: Factor w/ 108 levels "06-01-10","06-02-10",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ addr: Factor w/ 326 levels "서울특별시 강남구 개포동",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ val : int  22300 24800 23720 33700 44000 44000 45250 15900 18400 24700 ...

In [112]:
head(df3)

  date     addr                     val
1 06-01-10 서울특별시 강남구 개포동 22300
2 06-01-10 서울특별시 강남구 개포동 24800
3 06-01-10 서울특별시 강남구 개포동 23720
4 06-01-10 서울특별시 강남구 개포동 33700
5 06-01-10 서울특별시 강남구 개포동 44000
6 06-01-10 서울특별시 강남구 개포동 44000

In [113]:
## 주소변환 : 구단위까지
## str_split_fixed(df3의 2열을, 공백기준으로, 몇개로 나눔.)
city <- str_split_fixed(df3[,2], " ", 3)
city <- data.frame(city)
str(city)

'data.frame':	588766 obs. of  3 variables:
 $ X1: chr  "서울특별시" "서울특별시" "서울특별시" "서울특별시" ...
 $ X2: chr  "강남구" "강남구" "강남구" "강남구" ...
 $ X3: chr  "개포동" "개포동" "개포동" "개포동" ...

In [114]:
df4 <- data.frame(date=df3[,1], addr=city[,2], val=df3[,3])
str(df4)

'data.frame':	588766 obs. of  3 variables:
 $ date: Factor w/ 108 levels "06-01-10","06-02-10",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ addr: chr  "강남구" "강남구" "강남구" "강남구" ...
 $ val : int  22300 24800 23720 33700 44000 44000 45250 15900 18400 24700 ...

In [115]:
head(df4)

  date     addr   val
1 06-01-10 강남구 22300
2 06-01-10 강남구 24800
3 06-01-10 강남구 23720
4 06-01-10 강남구 33700
5 06-01-10 강남구 44000
6 06-01-10 강남구 44000

In [130]:
## 날짜별로 구별 평균가격을 구하기
df5 <- df4 %>% group_by(date, addr) %>% summarise(mean(val))
head(df5)

`summarise()` regrouping output by 'date' (override with `.groups` argument)

  date     addr   mean(val)
1 06-01-10 강남구 76892.96
2 06-01-10 강동구 39031.67
3 06-01-10 강북구 18964.91
4 06-01-10 강서구 25348.86
5 06-01-10 관악구 24570.44
6 06-01-10 광진구 37802.83

In [131]:
colnames(df5)[3] <- 'val'
df5[['date']] <- as.character(df5[['date']])
df5$val <- df5$val/500
head(df5)

  date     addr   val
1 06-01-10 강남구 153.78591
2 06-01-10 강동구  78.06334
3 06-01-10 강북구  37.92981
4 06-01-10 강서구  50.69771
5 06-01-10 관악구  49.14088
6 06-01-10 광진구  75.60566

In [137]:
str(df5)

tibble [2,700 x 3] (S3: grouped_df/tbl_df/tbl/data.frame)
 $ date: chr [1:2700] "06-01-10" "06-01-10" "06-01-10" "06-01-10" ...
 $ addr: chr [1:2700] "강남구" "강동구" "강북구" "강서구" ...
 $ val : num [1:2700] 153.8 78.1 37.9 50.7 49.1 ...
 - attr(*, "groups")= tibble [108 x 2] (S3: tbl_df/tbl/data.frame)
  ..$ date : chr [1:108] "06-01-10" "06-02-10" "06-03-10" "06-04-10" ...
  ..$ .rows: list<int> [1:108]
  .. ..$ : int [1:25] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ : int [1:25] 26 27 28 29 30 31 32 33 34 35 ...
  .. ..$ : int [1:25] 51 52 53 54 55 56 57 58 59 60 ...
  .. ..$ : int [1:25] 76 77 78 79 80 81 82 83 84 85 ...
  .. ..$ : int [1:25] 101 102 103 104 105 106 107 108 109 110 ...
  .. ..$ : int [1:25] 126 127 128 129 130 131 132 133 134 135 ...
  .. ..$ : int [1:25] 151 152 153 154 155 156 157 158 159 160 ...
  .. ..$ : int [1:25] 176 177 178 179 180 181 182 183 184 185 ...
  .. ..$ : int [1:25] 201 202 203 204 205 206 207 208 209 210 ...
  .. ..$ : int [1:25] 226 227 228 229 230 231 232 233 234 235 ...
  .. ..$ : int [1:25] 251 252 253 254 255 256 257 258 259 260 ...
  .. ..$ : int [1:25] 276 277 278 279 280 281 282 283 284 285 ...
  .. ..$ : int [1:25] 301 302 303 304 305 306 307 308 309 310 ...
  .. ..$ : int [1:25] 326 327 328 329 330 331 332 333 334 335 ...
  .. ..$ : int [1:25] 351 352 353 354 355 356 357 358 359 360 ...
  .. ..$ : int [1:25] 376 377 378 379 380 381 382 383 384 385 ...
  .. ..$ : int [1:25] 401 402 403 404 405 406 407 408 409 410 ...
  .. ..$ : int [1:25] 426 427 428 429 430 431 432 433 434 435 ...
  .. ..$ : int [1:25] 451 452 453 454 455 456 457 458 459 460 ...
  .. ..$ : int [1:25] 476 477 478 479 480 481 482 483 484 485 ...
  .. ..$ : int [1:25] 501 502 503 504 505 506 507 508 509 510 ...
  .. ..$ : int [1:25] 526 527 528 529 530 531 532 533 534 535 ...
  .. ..$ : int [1:25] 551 552 553 554 555 556 557 558 559 560 ...
  .. ..$ : int [1:25] 576 577 578 579 580 581 582 583 584 585 ...
  .. ..$ : int [1:25] 601 602 603 604 605 606 607 608 609 610 ...
  .. ..$ : int [1:25] 626 627 628 629 630 631 632 633 634 635 ...
  .. ..$ : int [1:25] 651 652 653 654 655 656 657 658 659 660 ...
  .. ..$ : int [1:25] 676 677 678 679 680 681 682 683 684 685 ...
  .. ..$ : int [1:25] 701 702 703 704 705 706 707 708 709 710 ...
  .. ..$ : int [1:25] 726 727 728 729 730 731 732 733 734 735 ...
  .. ..$ : int [1:25] 751 752 753 754 755 756 757 758 759 760 ...
  .. ..$ : int [1:25] 776 777 778 779 780 781 782 783 784 785 ...
  .. ..$ : int [1:25] 801 802 803 804 805 806 807 808 809 810 ...
  .. ..$ : int [1:25] 826 827 828 829 830 831 832 833 834 835 ...
  .. ..$ : int [1:25] 851 852 853 854 855 856 857 858 859 860 ...
  .. ..$ : int [1:25] 876 877 878 879 880 881 882 883 884 885 ...
  .. ..$ : int [1:25] 901 902 903 904 905 906 907 908 909 910 ...
  .. ..$ : int [1:25] 926 927 928 929 930 931 932 933 934 935 ...
  .. ..$ : int [1:25] 951 952 953 954 955 956 957 958 959 960 ...
  .. ..$ : int [1:25] 976 977 978 979 980 981 982 983 984 985 ...
  .. ..$ : int [1:25] 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 ...
  .. ..$ : int [1:25] 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 ...
  .. ..$ : int [1:25] 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060 ...
  .. ..$ : int [1:25] 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 ...
  .. ..$ : int [1:25] 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 ...
  .. ..$ : int [1:25] 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 ...
  .. ..$ : int [1:25] 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 ...
  .. ..$ : int [1:25] 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 ...
  .. ..$ : int [1:25] 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 ...
  .. ..$ : int [1:25] 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 ...
  .. ..$ : int [1:25] 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 ...
  .. ..$ : int [1:25] 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 ...
  .. ..$ : int [1:25] 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 ...
  .. ..$ : int [1:25] 1326 1327 1328 1329 1330 1331 1332 1333 1334 1335 ...
  .. ..$ : int [1:25] 1351 1352 1353 1354 1355 1356 1357 1358 1359 1360 ...
  .. ..$ : int [1:25] 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 ...
  .. ..$ : int [1:25] 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 ...
  .. ..$ : int [1:25] 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 ...
  .. ..$ : int [1:25] 1451 1452 1453 1454 1455 1456 1457 1458 1459 1460 ...
  .. ..$ : int [1:25] 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 ...
  .. ..$ : int [1:25] 1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 ...
  .. ..$ : int [1:25] 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 ...
  .. ..$ : int [1:25] 1551 1552 1553 1554 1555 1556 1557 1558 1559 1560 ...
  .. ..$ : int [1:25] 1576 1577 1578 1579 1580 1581 1582 1583 1584 1585 ...
  .. ..$ : int [1:25] 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 ...
  .. ..$ : int [1:25] 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635 ...
  .. ..$ : int [1:25] 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 ...
  .. ..$ : int [1:25] 1676 1677 1678 1679 1680 1681 1682 1683 1684 1685 ...
  .. ..$ : int [1:25] 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710 ...
  .. ..$ : int [1:25] 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735 ...
  .. ..$ : int [1:25] 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 ...
  .. ..$ : int [1:25] 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 ...
  .. ..$ : int [1:25] 1801 1802 1803 1804 1805 1806 1807 1808 1809 1810 ...
  .. ..$ : int [1:25] 1826 1827 1828 1829 1830 1831 1832 1833 1834 1835 ...
  .. ..$ : int [1:25] 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 ...
  .. ..$ : int [1:25] 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 ...
  .. ..$ : int [1:25] 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 ...
  .. ..$ : int [1:25] 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 ...
  .. ..$ : int [1:25] 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 ...
  .. ..$ : int [1:25] 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 ...
  .. ..$ : int [1:25] 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 ...
  .. ..$ : int [1:25] 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035 ...
  .. ..$ : int [1:25] 2051 2052 2053 2054 2055 2056 2057 2058 2059 2060 ...
  .. ..$ : int [1:25] 2076 2077 2078 2079 2080 2081 2082 2083 2084 2085 ...
  .. ..$ : int [1:25] 2101 2102 2103 2104 2105 2106 2107 2108 2109 2110 ...
  .. ..$ : int [1:25] 2126 2127 2128 2129 2130 2131 2132 2133 2134 2135 ...
  .. ..$ : int [1:25] 2151 2152 2153 2154 2155 2156 2157 2158 2159 2160 ...
  .. ..$ : int [1:25] 2176 2177 2178 2179 2180 2181 2182 2183 2184 2185 ...
  .. ..$ : int [1:25] 2201 2202 2203 2204 2205 2206 2207 2208 2209 2210 ...
  .. ..$ : int [1:25] 2226 2227 2228 2229 2230 2231 2232 2233 2234 2235 ...
  .. ..$ : int [1:25] 2251 2252 2253 2254 2255 2256 2257 2258 2259 2260 ...
  .. ..$ : int [1:25] 2276 2277 2278 2279 2280 2281 2282 2283 2284 2285 ...
  .. ..$ : int [1:25] 2301 2302 2303 2304 2305 2306 2307 2308 2309 2310 ...
  .. ..$ : int [1:25] 2326 2327 2328 2329 2330 2331 2332 2333 2334 2335 ...
  .. ..$ : int [1:25] 2351 2352 2353 2354 2355 2356 2357 2358 2359 2360 ...
  .. ..$ : int [1:25] 2376 2377 2378 2379 2380 2381 2382 2383 2384 2385 ...
  .. ..$ : int [1:25] 2401 2402 2403 2404 2405 2406 2407 2408 2409 2410 ...
  .. ..$ : int [1:25] 2426 2427 2428 2429 2430 2431 2432 2433 2434 2435 ...
  .. ..$ : int [1:25] 2451 2452 2453 2454 2455 2456 2457 2458 2459 2460 ...
  .. .. [list output truncated]
  .. ..@ ptype: int(0)
  ..- attr(*, ".drop")= logi TRUE

In [132]:
g2 <- rCharts$new()

In [133]:
g2$setLib('r-ggagi-data/libraries/nyt_home')
g2$setTemplate(script='r-ggagi-data/libraries/nyt_home/layouts/nyt_home.html')

In [134]:
g2$set(
    description="This data comes from the 'rt.molit.go.kr' dataset",
    data = df5,
    groups='addr'
)

In [136]:
g2