In [1]:
## 샘플데이터
install.packages('hflights')

package 'hflights' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\205\AppData\Local\Temp\Rtmpmq7Kgx\downloaded_packages

In [6]:
library(ggplot2)

In [5]:
library(hflights)

In [3]:
str(hflights)

'data.frame':	227496 obs. of  21 variables:
 $ Year             : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ Month            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DayofMonth       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ DayOfWeek        : int  6 7 1 2 3 4 5 6 7 1 ...
 $ DepTime          : int  1400 1401 1352 1403 1405 1359 1359 1355 1443 1443 ...
 $ ArrTime          : int  1500 1501 1502 1513 1507 1503 1509 1454 1554 1553 ...
 $ UniqueCarrier    : chr  "AA" "AA" "AA" "AA" ...
 $ FlightNum        : int  428 428 428 428 428 428 428 428 428 428 ...
 $ TailNum          : chr  "N576AA" "N557AA" "N541AA" "N403AA" ...
 $ ActualElapsedTime: int  60 60 70 70 62 64 70 59 71 70 ...
 $ AirTime          : int  40 45 48 39 44 45 43 40 41 45 ...
 $ ArrDelay         : int  -10 -9 -8 3 -3 -7 -1 -16 44 43 ...
 $ DepDelay         : int  0 1 -8 3 5 -1 -1 -5 43 43 ...
 $ Origin           : chr  "IAH" "IAH" "IAH" "IAH" ...
 $ Dest             : chr  "DFW" "DFW" "DFW" "DFW" ...
 $ Distance         : int  224 224 224 224 224 224 224 224 224 224 ...
 $ TaxiIn           : int  7 6 5 9 9 6 12 7 8 6 ...
 $ TaxiOut          : int  13 9 17 22 9 13 15 12 22 19 ...
 $ Cancelled        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr  "" "" "" "" ...
 $ Diverted         : int  0 0 0 0 0 0 0 0 0 0 ...

In [4]:
head(hflights)

     Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
5424 2011 1     1          6         1400    1500    AA            428
5425 2011 1     2          7         1401    1501    AA            428
5426 2011 1     3          1         1352    1502    AA            428
5427 2011 1     4          2         1403    1513    AA            428
5428 2011 1     5          3         1405    1507    AA            428
5429 2011 1     6          4         1359    1503    AA            428
     TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
5424 N576AA  60                ... -10       0       IAH    DFW  224
5425 N557AA  60                ...  -9       1       IAH    DFW  224
5426 N541AA  70                ...  -8      -8       IAH    DFW  224
5427 N403AA  70                ...   3       3       IAH    DFW  224
5428 N492AA  62                ...  -3       5       IAH    DFW  224
5429 N262AA  64                ...  -7      -1       IAH    DFW  224
     TaxiIn TaxiOut Cancelled CancellationCode Diverted
5424 7      13      0                          0
5425 6       9      0                          0
5426 5      17      0                          0
5427 9      22      0                          0
5428 9       9      0                          0
5429 6      13      0                          0

In [ ]:
dest_table <- table(hflights$Dest)
dest_table

In [10]:
length(dest_table)
range(dest_table)

[1] 116

[1]    1 9820

In [12]:
dest_table[dest_table ==1]
dest_table[dest_table==9820]

AGS
  1

 DAL
9820

In [14]:
dest_table_5000 <- dest_table[dest_table > 5000]
dest_table_5000

 ATL  AUS  DAL  DEN  DFW  LAX  MSY  ORD  PHX
7886 5022 9820 5920 6653 6064 6823 5748 5096

In [ ]:
barplot(dest_table_5000)

In [16]:
df <- read.csv('r-ggagi-data/example_cancer.csv')
str(df)

'data.frame':	18310 obs. of  8 variables:
 $ age            : int  75 52 67 62 70 76 55 72 64 71 ...
 $ sex            : Factor w/ 2 levels "남","여": 1 2 2 1 1 2 1 1 1 1 ...
 $ height         : Factor w/ 485 levels "100","130","130.2",..: 252 408 182 262 352 352 467 165 172 232 ...
 $ weight         : Factor w/ 638 levels "100","101","101.1",..: 333 446 349 263 343 563 463 243 363 248 ...
 $ dateOfoperation: Factor w/ 351 levels "2011-01-02","2011-01-03",..: 165 134 146 164 154 160 164 147 219 192 ...
 $ cancerStaging  : Factor w/ 5 levels "I","II","III",..: 1 4 3 1 2 3 2 3 1 2 ...
 $ hospitalization: int  48 17 10 11 10 10 12 18 15 35 ...
 $ diseaseCode    : Factor w/ 13 levels "C18","C180","C181",..: 9 9 9 9 4 11 9 4 13 11 ...

In [17]:
head(df,3)

  age sex height weight dateOfoperation cancerStaging hospitalization
1 75  남  161    64     2011-06-22      I             48
2 52  여  176.6  75.3   2011-05-19      IV            17
3 67  여  154    65.6   2011-05-31      III           10
  diseaseCode
1 C187
2 C187
3 C187