수치형
- 이산형 데이터 (integer) : 독립적 -> 확률질량함수
- 연속형 데이터 : 연속적 -> 확률밀도함수

범주형
- 명목형 데이터 : 순서 없음
- 순서형 데이터 : 순서 있음

명목형 변수 (factor)
- 도수분포표 : 값의 빈도수를 나타냄
- 상대도수분포표 : 전체 변수값에 대한 비중을 나타냄 (< 1)

연속형 변수 (numeric)
- 도수분포표 : 값의 구간 -> 변수

누적상대도수분포표 : 상대도수의 누적값

In [11]:
a1 <- c(1,2,3,4,5)
is(a1)
a2 <- c(1L,2L,3L)    ## 큰숫자
is(a2)
a3 <- as.integer(a1)  
a3
is(a3)

[1] "numeric" "vector"

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

[1] 1 2 3 4 5

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

In [13]:
b <- c('a','b','c')   ## character : 문자열
b
is(b)

[1] "a" "b" "c"

[1] "character"           "vector"              "data.frameRowLabels"
[4] "SuperClassMethod"

In [14]:
d1 <- as.factor(b)    ## levels(구간)이 생김
d1
is(d1)

[1] a b c
Levels: a b c

[1] "factor"              "integer"             "oldClass"
[4] "double"              "numeric"             "vector"
[7] "data.frameRowLabels"

In [18]:
d2 <- factor(c(1,2,3,4,5), levels = c('10~20','20~30','30~40','40~50'))
d2

[1] <NA> <NA> <NA> <NA> <NA>
Levels: 10~20 20~30 30~40 40~50

In [20]:
a1 <- c(1,2,3,4,5)
b1 <- c('a','b','c','d','e')
c1 <- c(1.1,2.2,3.3,4.4,5.5)

In [22]:
df1 <- data.frame(a1,b1,c1)   ## 갯수가 맞아야함.
df1

  a1 b1 c1
1 1  a  1.1
2 2  b  2.2
3 3  c  3.3
4 4  d  4.4
5 5  e  5.5

In [ ]:
df2 <- data.frame(count=a1, name=b1, meanCount=c1)
df2

In [ ]:
df_csv <- read.csv('r-ggagi-data/example_studentlist.csv',header = T)
df_csv

In [6]:
is.vector(df_csv$age)   ## $컬럼명

[1] TRUE

In [ ]:
## 데이터프레임 구조
str(df_csv)

In [ ]:
df_csv$height
df_csv[7]
df_csv[[7]]

In [19]:
a <- df_csv[[7]]
a[1]

[1] 165.3

In [ ]:
df_csv[c(6,7)]
df_csv[c('height','weight')]

In [30]:
df_csv[,7]
df_csv[1,]
df_csv[2,1]

 [1] 165.3 170.1 175.0 182.1 168.0 162.0 155.2 176.9 178.5 176.1 167.1 180.0
[13] 162.2 176.1 158.2 168.6 169.2

  name   sex  age grade absence bloodtype height weight
1 김길동 남자 23  3     유      O         165.3  68.2

[1] 이미린
17 Levels: 강수친 김길동 김동수 김미진 김민수 김철수 박미희 박수호 ... 홍길동

In [35]:
## Factor가 아니라 chr이 됨.
df_csv2 <- read.csv('r-ggagi-data/example_studentlist.csv',stringsAsFactors=F)
str(df_csv2)

'data.frame':	17 obs. of  8 variables:
 $ name     : chr  "김길동" "이미린" "홍길동" "김철수" ...
 $ sex      : chr  "남자" "여자" "남자" "남자" ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : chr  "유" "무" "무" "무" ...
 $ bloodtype: chr  "O" "AB" "B" "AB" ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

In [ ]:
## 검색목록 보기, 추가 -> 변수명으로 바로사용가능
search()
attach(df_csv2)
search()

In [44]:
detach(df_csv2)
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

In [ ]:
## 키가 170보다 큰 관측치
subset(df_csv, subset = (height > 170))
subset(df_csv, subset = (grade<3 & height>170))

In [ ]:
subset(df_csv, select = -height)
subset(df_csv, select = c(height, weight))

In [ ]:
## 변수명(컬럼명) 확인
colnames(df_csv)
colnames(df_csv)[6] <- 'blood'
df_csv

In [ ]:
old_list <- colnames(df_csv)
new_list <- c('na','se','ag','gr','ab','bl','he','we')
colnames(df_csv) <- new_list
head(df_csv)

In [69]:
df_csv <- read.csv('r-ggagi-data/example_studentlist.csv')

In [70]:
head(df_csv)

  name   sex  age grade absence bloodtype height weight
1 김길동 남자 23  3     유      O         165.3  68.2
2 이미린 여자 22  2     무      AB        170.1  53.0
3 홍길동 남자 24  4     무      B         175.0  80.1
4 김철수 남자 23  3     무      AB        182.1  85.7
5 손세수 여자 20  1     유      A         168.0  49.5
6 박미희 여자 21  2     무      O         162.0  52.0

In [71]:
tail(df_csv,1)

   name   sex  age grade absence bloodtype height weight
17 여수근 남자 21  1     무      A         169.2  62.2

In [72]:
## 데이터프레임에 변수추가
bmi <- df_csv$weight/df_csv$height^2
bmi

 [1] 0.002495966 0.001831754 0.002615510 0.002584407 0.001753827 0.001981405
 [7] 0.001880679 0.001757547 0.002014924 0.001976705 0.002220439 0.002339506
[13] 0.002101955 0.001712284 0.001806032 0.002469574 0.002172649

In [ ]:
df_bmi <- cbind(df_csv,bmi)
df_bmi

In [ ]:
## 데이터프레임끼리 합치기
## cbind : column 합치기
## rbind : row 합치기
df_1 <- read.csv('r-ggagi-data/example_studentlist.csv')
df_2 <- read.csv('r-ggagi-data/omit.csv')
df_1
df_2

In [ ]:
df_merge <- merge(df_1, df_2, by='name')
df_merge

In [ ]:
df_head <- head(df_merge)
df_tail <- tail(df_merge)
df_head
df_tail

In [ ]:
df_rbind <- rbind(df_head,df_tail)
df_rbind

In [ ]:
## list() : 여러 종류 데이터 객체 담기
df <- df_merge
n <- c(1:20)
s <- c('a','b','c')
b <- c(T,F,T,F,T)
tmp_list1 <- list(head(df),n,s,b,mean)
tmp_list1

In [ ]:
tmp_list1[1] <- NULL
tmp_list1

In [ ]:
tmp_list2 <- list(DataFrame=df, Number=n, Strings=s, Bool=b, Func=mean)
tmp_list2

In [ ]:
tmp_list2[2]
tmp_list2['Number']

In [84]:
class(tmp_list1[1])
class(tmp_list1[[1]])

[1] "list"

[1] "integer"

In [85]:
class(tmp_list2[1])
class(tmp_list2[[1]])

[1] "list"

[1] "data.frame"

In [ ]:
tmp_list2[c(2,3)]
tmp_list2[c('Number','String')]
tmp_list2$Number
tmp_list2$String

In [ ]:
height_sex <- split(df$height, df$sex)
height_sex

In [90]:
height_sex$'남자'

 [1] 165.3 168.6 162.2 182.1 167.1 176.1 169.2 178.5 180.0 175.0

In [ ]:
mean(height_sex)
mean(height_sex[1])
mean(height_sex[[1]])

In [91]:
## 평균
height_sex_mean <- sapply(height_sex,mean)
height_sex_mean

    남자     여자
172.4100 166.6429

In [94]:
height_sex_mean[[1]]

[1] 172.41

In [95]:
## 표준편차
height_sex_sd <- sapply(height_sex, sd)
height_sex_sd

    남자     여자
6.804647 8.487414

In [96]:
## 리스트 범위
height_sex_range <- sapply(height_sex, range)
height_sex_range

     남자  여자
[1,] 162.2 155.2
[2,] 182.1 176.9

In [106]:
height_sex_range[,2]

[1] 155.2 176.9

In [97]:
## 도수분포표
blood_type_table <- table(df$bloodtype)
blood_type_table

 A AB  B  O
 4  3  5  5

In [103]:
## 상대도수분포표
blood_type_prop_table <- prop.table(blood_type_table)
blood_type_prop_table
sum(blood_type_prop_table)

        A        AB         B         O
0.2352941 0.1764706 0.2941176 0.2941176

[1] 1

In [107]:
sex_table <- table(df$sex)
sex_table

남자 여자
  10    7

In [113]:
blood_type_rbind <- rbind(blood_type_table, blood_type_prop_table)

In [116]:
## 합계구하기, margin : 1=열, 2=행
blood_type_rbind_sum <- addmargins(blood_type_rbind, margin=2)
blood_type_rbind_sum

                      A         AB        B         O         Sum
blood_type_table      4.0000000 3.0000000 5.0000000 5.0000000 17
blood_type_prop_table 0.2352941 0.1764706 0.2941176 0.2941176  1

In [115]:
blood_type_rbind_sum1 <- addmargins(blood_type_rbind, margin=1)
blood_type_rbind_sum1

                      A         AB        B         O
blood_type_table      4.0000000 3.0000000 5.0000000 5.0000000
blood_type_prop_table 0.2352941 0.1764706 0.2941176 0.2941176
Sum                   4.2352941 3.1764706 5.2941176 5.2941176

In [129]:
## 연속형 변수
## 구간나누기 cut()
height_break_4 <- cut(df$height, breaks = 4)
height_break_4

 [1] (155,162] (162,169] (162,169] (155,162] (162,169] (175,182] (162,169]
 [8] (162,169] (175,182] (162,169] (169,175] (169,175] (175,182] (175,182]
[15] (175,182] (175,182] (169,175]
Levels: (155,162] (162,169] (169,175] (175,182]

In [122]:
height_break_4_table <- table(height_break_4)
height_break_4_table

height_break_4
(155,162] (162,169] (169,175] (175,182]
        2         6         3         6

In [123]:
height_break_4_prop_table <- prop.table(height_break_4_table)
height_break_4_prop_table

height_break_4
(155,162] (162,169] (169,175] (175,182]
0.1176471 0.3529412 0.1764706 0.3529412

In [130]:
height_break_4_rbind <- rbind(height_break_4_table, height_break_4_prop_table)
height_break_4_rbind

                          (155,162] (162,169] (169,175] (175,182]
height_break_4_table      2.0000000 6.0000000 3.0000000 6.0000000
height_break_4_prop_table 0.1176471 0.3529412 0.1764706 0.3529412

In [132]:
height_break_4_cumsum <- rbind(height_break_4_rbind, cumsum(height_break_4_rbind[2,]))
rownames(height_break_4_cumsum) <- c('도수','상대도수','누적도수')
height_break_4_cumsum

         (155,162] (162,169] (169,175] (175,182]
도수     2.0000000 6.0000000 3.0000000 6.0000000
상대도수 0.1176471 0.3529412 0.1764706 0.3529412
누적도수 0.1176471 0.4705882 0.6470588 1.0000000

In [136]:
## 실습.
test_csv = read.csv('r-ggagi-data/example_studentlist2.csv')
str(test_csv)

grade_dosu = table(test_csv$grade)

height_cut = cut(test_csv$height, breaks = 5)
weight_cut = cut(test_csv$weight, breaks=5)

height_dosu = table(height_cut)
weight_dosu = table(weight_cut)
grade_dosu
height_dosu
weight_dosu

prop_grade = prop.table(grade_dosu)
prop_height = prop.table(height_dosu)
prop_weight = prop.table(weight_dosu)

cum_grade = cumsum(prop_grade)
cum_height = cumsum(prop_height)
cum_weight = cumsum(prop_weight)

grade_rbind <- rbind(grade_dosu,prop_grade, cum_grade)
rownames(grade_rbind) <- c('도수','상대도수','누적도수')

height_rbind <- rbind(height_dosu, prop_height, cum_height)
rownames(height_rbind) <- c('도수','상대도수','누적도수')

weight_rbind <- rbind(weight_dosu, prop_weight, cum_weight)
rownames(weight_rbind) <- c('도수','상대도수','누적도수')

grade_rbind
height_rbind
weight_rbind

'data.frame':	100 obs. of  7 variables:
 $ sex      : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 1 1 2 1 2 ...
 $ age      : int  20 24 28 22 23 25 25 28 27 21 ...
 $ grade    : int  2 2 2 2 2 2 2 4 3 2 ...
 $ absence  : Factor w/ 2 levels "무","유": 1 2 1 1 1 2 1 2 2 2 ...
 $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 4 4 2 4 1 4 4 4 4 ...
 $ height   : num  157 161 160 159 161 ...
 $ weight   : num  52.3 53.6 53.4 52.2 53.1 50.1 49.9 53.4 53.9 53.1 ...

In [160]:
## 분할표 - 2개변수의 빈도수
sex_blood_table <- table(df$sex, df$bloodtype)
sex_blood_table
# sex_blood_table <- table(df$bloodtype, df$sex)
# sex_blood_table

       A AB B O
  남자 2  2 4 2
  여자 2  1 1 3

In [165]:
addmargins(sex_blood_table)

       A AB B O Sum
  남자 2 2  4 2 10
  여자 2 1  1 3  7
  Sum  4 3  5 5 17

In [167]:
sex_blood_prop_table <- prop.table(sex_blood_table)
addmargins(sex_blood_prop_table)

       A         AB         B          O         Sum
  남자 0.1176471 0.11764706 0.23529412 0.1176471 0.5882353
  여자 0.1176471 0.05882353 0.05882353 0.1764706 0.4117647
  Sum  0.2352941 0.17647059 0.29411765 0.2941176 1.0000000

In [169]:
## 행간 비율, 행의 합이 1
sex_blood_prop_table_margin_1 <- prop.table(sex_blood_table, margin=1)
sex_blood_prop_table_margin_1

               A        AB         B         O
  남자 0.2000000 0.2000000 0.4000000 0.2000000
  여자 0.2857143 0.1428571 0.1428571 0.4285714

In [170]:
## 열간 비율, 열의 합이 1
sex_blood_prop_table_margin_2 <- prop.table(sex_blood_table, margin=2)
sex_blood_prop_table_margin_2

               A        AB         B         O
  남자 0.5000000 0.6666667 0.8000000 0.4000000
  여자 0.5000000 0.3333333 0.2000000 0.6000000

In [174]:
## NA - 값이 없는 경우
a <- c(1,2,3,4,NA,6,7,8,9,10)
complete.cases(a)

a[complete.cases(a)]

na.omit(a)

 [1]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

[1]  1  2  3  4  6  7  8  9 10

[1]  1  2  3  4  6  7  8  9 10
attr(,"na.action")
[1] 5
attr(,"class")
[1] "omit"